block vars
-let title = "Prince of Tarts"

include /header

body
 .whole-page-wrapper
   header
    .logo
      img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/f_auto,q_auto/v1602247579/PrinceofTarts/logo-black_g0gkfc.png" alt="company logo")
    .empty
   main
    nav
      a(href="#find-us")
       .nav-link 
        h2
         em Find Us
      a(href="#")
       .nav-link
        h2
         em Cakes
      a(href="#")
       .nav-link
        h2
         em Menu

    section(class="info-section-wrapper")
     .info-section
       .rounded-image
         img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_500,h_500,c_fill,f_auto,q_auto,r_max,bo_5px_solid_white/v1602247407/PrinceofTarts/DSCF5452_1620x1080_id0ccf.jpg", alt="Delicious treats")
       .info-description
        .info-title
         h1 Welcome
        .info-p
         p 
          | At Prince of Tarts we are constantly innovating our products to deliver the highest quality products. 
          | The process of blending fresh ingredients with our passion has evolved the bakery into what it has been shaped into today. 
          | Recipes are derived from months and years of trial and error to create the desirables that you've all come to know and love. 
          | We appreciate the support from friends, family and loyal clients over the years. We will continue to do our best.

    section(class="social-media-wrapper")
     .social-media-content
      .social-media-block
         a(href="https://facebook.com/princeoftartsofficial" target="_blank")
          img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_30,q_auto,f_auto/v1602769589/145802_owg9gx.svg" alt="facebook logo")
      .social-media-block
         h2 Join the Journey
      .social-media-block
         a(href="https://instagram.com/princeoftartsofficial" target="_blank")
          img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_30,q_auto,f_auto/v1602769589/1409946_ishatl.svg" alt="instagram logo")

    section(class="image-gallery-wrapper")
     .image-grid-div
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247387/PrinceofTarts/DSCF3840_1620x1080_kyoavc.jpg" alt="product image")
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247384/PrinceofTarts/DSCF2944_1620x1080_q36ffy.jpg" alt="product image")
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247377/PrinceofTarts/DSCF3281_1620x1080_temphi.jpg" alt="product image")
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247425/PrinceofTarts/DSCF6922_1620x1080_hyz0er.jpg" alt="product image")
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247376/PrinceofTarts/DSCF3885_1620x1080_xcaign.jpg" alt="product image")
      .image-div
       img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/c_fill,q_auto,f_auto/v1602247393/PrinceofTarts/DSCF5379_1620x1080_td1l9y.jpg" alt="product image")

    section(class="quotes-carousel-wrapper")
     .quotes-container
      span(class="quotes-icon") &ldquo;
      .quotes-div
       q Upmarket, ahead of "George-times", modern, funky. Great friendly service. AWESOME tarts! Oh yah and yummie coffee!!
       p(class="quotes-author") Sonja Steyn
      .quotes-div
       q Beautiful venue, great niche products
       p(class="quotes-author") Petra Clark
      .quotes-div
       q Most friendly people you will ever meet, and don't forget about the amazing food. A MUST go place!!
       p(class="quotes-author") Jan Negel
     .dot-container
        a(class="prev" onclick="plusSlides(-1)") &#10094;
        span(class="dot" onclick="currentSlide(1)")
        span(class="dot" onclick="currentSlide(2)")
        span(class="dot" onclick="currentSlide(3)")
        a(class="next" onclick="plusSlides(1)") &#10095;

    section(id="find-us")
      .find-us-title
       h2 Find Us
      .find-us-map
       a(href="https://www.google.com/maps/place/Prince+of+Tarts/@-33.96431,22.466639,15z/data=!4m5!3m4!1s0x0:0xf5010784dd36c03c!8m2!3d-33.96431!4d22.466639" target="_blank")
        img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1602844438/PrinceofTarts/map_iugzn3.png" alt="find on map")
      .find-us-phone
        a(href="tel:+27828507292" data-content="+27828507292" data-type="phone" aria-label="Call Us" target="_blank")
         img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1602844438/PrinceofTarts/phone_cjohzr.png" alt="Call us")
      .find-us-email
        a(href="mailto:tyrone@princeoftarts.co.za" data-type="email" aria-label="email us")
         img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1602844438/PrinceofTarts/email_hluyxs.png")

    footer
     .footer-text(style="text-align: center")
      p &#169; Prince of Tarts 2020 Website by 
       a(href="https://homecode.co.za") homeCode
    //- Icons from Icons8.com
 script.
          var slideIndex = 1;
          showSlides(slideIndex);
          setInterval(function() {
            plusSlides(1)
            },6000);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("quotes-div");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
              if (n < 1) {slideIndex = slides.length}
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }


       