block vars
-let title = "Cakes"

include /header

body
 .whole-page-wrapper
    header
        .logo
          a(href="/")
            img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/f_auto,q_auto/v1602247579/PrinceofTarts/logo-black_g0gkfc.png" alt="company logo")
        .empty
        
    main
     nav
      a(href="/#find-us")
       .nav-link 
        h2 Find Us
      a(href="https://res.cloudinary.com/dvwsiufhl/image/upload/q_auto,f_auto/v1602506444/PrinceofTarts/Prince_of_Tarts_Menu_ltunc2.jpg" target="_blank" rel="noreferrer")
       .nav-link
        h2 Menu
     section(class="image-gallery-wrapper")
        .image-gallery-title
            img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_100,q_auto,f_auto/v1603374232/PrinceofTarts/icons8-cake-100_luk3hl.png" alt="cake image")
            h1 Cakes 
        .image-grid-div
          .image-div
            img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366888/PrinceofTarts/DSCF7361_1620x1080_kqxd8r.jpg" alt="product image")
          .image-div
           img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366885/PrinceofTarts/DSCF3955_1620x1080_lgefq6.jpg" alt="product image")
          .image-div
           img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366883/PrinceofTarts/DSCF7067_1620x1080_iww8lb.jpg" alt="product image")
          .image-div
           img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366881/PrinceofTarts/DSCF6729_1620x1080_ryplme.jpg" alt="product image")
          .image-div
           img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366878/PrinceofTarts/DSCF7290_1620x1080_w9ah4q.jpg" alt="product image")
          .image-div
           img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/w_600,c_fill,q_auto,f_auto/v1603366870/PrinceofTarts/DSCF3433_1620x1080_ey8uvx.jpg" alt="product image")

     section(id="find-us")
      .find-us-title
       h2 Find Us
      .find-us-map
       a(href="https://www.google.com/maps/place/Prince+of+Tarts/@-33.96431,22.466639,15z/data=!4m5!3m4!1s0x0:0xf5010784dd36c03c!8m2!3d-33.96431!4d22.466639" target="_blank" rel="noreferrer")
        img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1602844438/PrinceofTarts/map_iugzn3.png" alt="find on map")
      .find-us-phone
        a(href="https://wa.me/27828507292?text=Hi%20I'm%20interested%20in" aria-label="WhatsApp Us" target="_blank" rel="noreferrer")
         img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1603375292/PrinceofTarts/icons8-whatsapp-150_biuww5.png" alt="Chat to us")
      .find-us-email
        a(href="mailto:tyrone@princeoftarts.co.za" data-type="email" aria-label="email us")
         img(src="https://res.cloudinary.com/dvwsiufhl/image/upload/h_50,q_auto,f_auto/v1602844438/PrinceofTarts/email_hluyxs.png" alt="email us")

    footer
    .footer-text(style="text-align: center")
      p &#169; Prince of Tarts 2020 Website by 
       a(href="https://homecode.co.za" style="color: white" rel="noreferrer") Chris from homeCode
    // Icons from Icons8.com